[user]
	name = Brian Jacobel
	email = bjacobel@gmail.com
[core]
	editor = emacs -nw
	excludesfile = /Users/bjacobel/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff]
	tool = sourcetree
[merge]
	tool = sourcetree
[push]
        default = tracking

[color]
	diff = true
	interactive = true
	status = true
[alias]
    co = checkout
    st = status
    br = branch
    rb = rebase
    lsd = log --graph --decorate --pretty=oneline --abbrev-commit --all
    fixup = !sh -c 'git add . && git commit --fixup=`git rev-parse HEAD` && git rebase -i --autosquash HEAD~2 && git push -f origin `git rev-parse --abbrev-ref HEAD`'
    remind = !sh -c 'git diff-tree --no-commit-id --name-only -r HEAD | more'
    reopen = !sh -c "true && subl $(pwd) $(git diff-tree --no-commit-id --name-only -r HEAD | cat | tr '\n' ' ' | more)"