[user]
	name = Brian Jacobel
	email = bjacobel@gmail.com
	signingkey = F9F07922
[core]
	editor = emacs -nw
	excludesfile = /Users/bjacobel/.gitignore_global
	precomposeunicode = false
	pager = diff-so-fancy | less --tabs=4 -RFX
[difftool "opendiff"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[mergetool "opendiff"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
[diff]
	tool = opendiff
	colormoved = plain
[merge]
	tool = opendiff
[push]
	default = simple
[remote-hg]
	hg-git-compat = true
[pull]
	rebase = true
[branch]
	autosetupmerge = true
	autosetuprebase = always
[rebase]
	autosquash = true
[rerere]
	enabled = true
[color]
	diff = true
	interactive = true
	status = true
[color "diff"]
	meta = white bold
	frag = cyan bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[alias]
	co = checkout
	st = status
	br = branch
	lsd = log --graph --decorate --pretty=oneline --abbrev-commit --all
	amend = commit -a --amend
	remind = !sh -c 'git diff-tree --no-commit-id --name-only -r HEAD | more'
	reopen = !sh -c "true && code $(pwd) $(git diff-tree --no-commit-id --name-only -r HEAD | cat | tr '\n' ' ' | more)"
	stopen = !sh -c "true && code $(pwd) $(git st -s | cat | tr '\n M' ' ' | more)"
	cleanup = "!git branch --merged | grep -v '^* master$' | grep -v '^  master$' | xargs git branch -d"
	adderall = add --all
	uncommit = reset --soft HEAD~1
	freebase = !git fetch && git rebase origin/master
	pushb = !git push --set-upstream origin $(git symbolic-ref --short HEAD)
	slog = log --oneline master..
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff-so-fancy]
	stripLeadingSymbols = false
