[user]
	name = Brian Jacobel
	email = bjacobel@theatlantic.com
[core]
	editor = emacs -nw
	excludesfile = /Users/bjacobel/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	co = checkout
	st = status
	br = branch
[diff]
	tool = sourcetree
[merge]
	tool = sourcetree
[push]
        default = tracking

[color]
	diff = true
	interactive = true
	status = true